html {
    height: 100%;
    box-sizing: border-box;
  }
  
  
  /* ----------------------------
      Header / Jumbotron Styles 
  -------------------------------*/
  
  .navbar {
    margin-bottom: 0 !important;
  }
  
  .row.main-header {
    padding:    25px;
    margin-top: 50px;
    padding-bottom: 45px;
    background-color: #F0EBE5;
    background-image: url( https://c1.staticflickr.com/4/3944/15626660876_e266441c7c_b.jpg);
    background-size:       cover;   
    background-position: 25% 20%; 
    border-radius: 6px;
  }
  
  .jumbotron {
    background-image: url(https://c1.staticflickr.com/1/725/20835879729_66b87b0759_b.jpg);
    background-size:       auto;
    background-position: 25% 20%; 
    box-shadow: inset -140px 0px 90px 0px rgba(255, 255, 255, 0.70);
    height: 500px;
  }
  
  ul {
    font-size: 16px;
  }
  
  .form-inline {
    float: right;
    margin:  8px;
  }
  
  /* ------------------*/
  
  h1 {
    padding-top: 40px;
    font-family: 'Playfair Display' !important;
    font-weight: 700  !important;
    font-size:   70px !important;
    font-style:           italic;
  }
  
  .col-md-7.jumbotron {
    box-shadow: inset 0px -210px 191px -31px #FFFFFF;
  }
  
  p.main-jumbotron-text {
    margin-top:  26px;
    font-size:   25px;
    font-weight:  500 !important;
    line-height:  1.4; 
    margin-left: 10px;
  }
  
  
  h1, h2, p, .btn .btn-lg {
    color: #14120C !important;
  }
  
  hr {
    border-color: #14120C !important;
  }
  
  
  input.form-control.mr-sm-2 {
    border-radius: 20px;
    width: 200px;
    margin: 0 20px 0 20px;
    text-align: center;
  }
  
  
  
   /* ---------------------------- */
     Main Body Styles 
  /* ------------------------------- */
  
  
  
  h3 {
    
    display:block;
    padding: 50px 43px 30px 43px; 
     background: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F517188688%2Fphoto%2Fmountain-landscape.jpg%3Fs%3D612x612%26w%3D0%26k%3D20%26c%3DA63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8%3D&tbnid=XQpqQa9skm0LSM&vet=12ahUKEwjGutajmYWEAxV8_zgGHfWWDc0QMygHegUIARCDAQ..i&imgrefurl=https%3A%2F%2Fwww.istockphoto.com%2Fessential%2Fphoto%2Fmountain-landscape-gm517188688-89380423&docid=Vv2Org82l7hB3M&w=612&h=384&q=nature%20images&ved=2ahUKEwjGutajmYWEAxV8_zgGHfWWDc0QMygHegUIARCDAQ');
     background-repeat: repeat; 
    background-size:cover; 
  }
  
  .glyphicon.glyphicon-menu-right
   {
      font-size:     18px;
      padding-right: 10px;
  }
  
/* 
  .row {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQYV2NkwAKm7bw+kxFdHCSY5a6ZjiIBEwQphksgC8Il0AXBEtgEQRIAUfYWxlQQD4AAAAAASUVORK5CYII=) repeat;
  /* } */
  

  
  .col-lg-6 p {
    font-size:   18px;
    text-align:  left;
    padding: 0 43px 12px 43px;
    line-height:  1.6;
  }
  
  .col-lg-6.left, 
  .col-lg-6.right {
    padding-left:   48px;
    padding-bottom: 40px;
    height: 100%;
  }  
  
  .glyphicon-search {
    padding-right: 6px;
  }
  
  .glyphicon-time, 
  .glyphicon-briefcase, 
  .glyphicon-map-marker,
  .glyphicon-globe {
     font-size:      25px;
     padding-right:  10px;
     vertical-align: bottom;
     padding-left:   48px;
     margin-top: 11px;
     color: #163554;
  }
  
  .requirements-list {
     margin: 20px 0px;
  }
  
  .schedule {
    margin-bottom: 15px;
  }
  
  .tooltip {
    width: 100px;
  }
  
  .radio-inline {
    margin-left: 41px;
  }
  
  .first-form-question {
     margin-left: 25px ;
  }
  
  
  /*--------------------------
       Button Styles 
  -----------------------------*/
  
  .btn-search {
    border: 1px solid;
    margin: 0px !important;
  }
  
  .btn-group {
    margin: 10px 0px 0px 43px;
  }
  
  .btn-sample,
  .btn-custom { 
    color:#14120C; 
    background-color:#F0EBE5; 
    margin: 20px 0px 0px 43px;
  } 
  
  .btn-custom {
    background-color: #45A5CC; 
  }
  
   
  .btn-custom:hover,
  .btn-custom:active {
    color:#FFFFFF!important; 
    background-color: #3B73A0; 
    border-color:#2da961; 
  }
  
  .btn-sample:hover, 
  .btn-sample:active { 
    color:#F0EBE5 !important; 
    background-color: #C6AD2B; 
    border-color:#FFFFFF; 
  } 
  
  .btn-sample:active, 
  .btn-sample.active, 
  .open .dropdown-toggle.btn-sample { 
    background-image: none; 
  } 
   
  .btn-sample.disabled, 
  .btn-sample[disabled], 
  fieldset[disabled] .btn-sample, 
  .btn-sample.disabled:hover, 
  .btn-sample[disabled]:hover, 
  fieldset[disabled] .btn-sample:hover, 
  .btn-sample.disabled:focus, 
  .btn-sample[disabled]:focus, 
  fieldset[disabled] .btn-sample:focus, 
  .btn-sample.disabled:active, 
  .btn-sample[disabled]:active, 
  fieldset[disabled] .btn-sample:active, 
  .btn-sample.disabled.active, 
  .btn-sample[disabled].active, 
  fieldset[disabled] .btn-sample.active { 
    background-color: #97BAD8; 
    border-color: #FFFFFF; 
  } 
   
  .btn-sample .badge { 
    color: #97BAD8; 
    background-color: #2da961; 
  }
  
  .footer {
    height: 50px;
    background-color:    #45A5CC;
    text-align:           center;
    border-top-left-radius:  6px;
    border-top-right-radius: 6px;
  }
  
  /*---------------------------
        Media Queries 
  ---------------------------*/
  
  
  
  @media screen and (max-width: 767px) {
    
  input.form-control.mr-sm-2 {
      width: 100%;
      margin: 0 0 1vh 0;
  }
    
  .btn-search {
      width: 100%;
  }
     
  p {
      font-size: 2rem !important; 
  }
    
  h3 {
      display: inline-block;
      padding: 50px 15px 30px 0px; 
      /* background-image:  src="Nature image.jpg"   class="orignal"  alt="Nature"; */
  }
    
  .col-lg-6 p {
      font-size:   16px;
      text-align:  left;
      padding: 0 !important;
      margin: 0 !important;
      line-height:  1.4em;
   }
    
  .glyphicon-time, 
  .glyphicon-briefcase, 
  .glyphicon-map-marker,
  .glyphicon-globe {
       font-size:      25px;
       padding-right:  10px;
       vertical-align: bottom;
       padding-left:   15px;
       margin-top: 11px;
       color: #163554;
   }
  
   h4.experience-sentence {
      line-height: 1.6;
   }
   
    .indent {
      text-indent: 50px;
   } 
    
  }
  