
body{
    /* background-color: blueviolet;*/
 
    background-image: url("Nature image.jpg");
    background-repeat: repeat;
    padding: 50px;
    width: 80%;
    
    background-position: right bottom;
 }
 
 h1{
     background-color:blue;
     opacity: 0.9;
     color: black;
 }