

table,th,td{
    border:  4px solid;
    border-collapse: collapse;
    /*width: 25%;*/
    text-align: center;

    margin-left: 30%;
    margin-top: 15%;
    padding: 10px;
}
tr:hover{
    background-color: antiquewhite;
}
th{

}

div{
    text-align: center;
    align-items: center;
}